[class*="cinematic--"] {
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.36, 0.21, 0.69, 0.88); }
  [class*="cinematic--"]::after, [class*="cinematic--"]::before,
  [class*="cinematic--"] .cinematic__text {
    animation-duration: inherit;
    animation-timing-function: inherit; }

@keyframes c-fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes c-fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes c-fadeInThenOut {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes c-grow {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.5); } }

@keyframes c-growAndFadeIn {
  0% {
    opacity: 0;
    transform: scale(1); }
  75% {
    opacity: 1; }
  85% {
    opacity: 1;
    transform: scale(1.5); }
  100% {
    opacity: 1;
    transform: scale(1.5); } }

@keyframes c-growAndFadeInThenOut {
  0% {
    opacity: 0;
    transform: scale(1); }
  55% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1.5); } }

@keyframes c-shrink {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.5); } }

@keyframes c-shrinkAndFadeOut {
  0% {
    transform: scale(1);
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    transform: scale(0.5);
    opacity: 0; } }

.cinematic--fadeIn {
  animation-name: c-fadeIn; }

.cinematic--fadeOut {
  animation-name: c-fadeOut; }

.cinematic--fadeInThenOut {
  animation-name: c-fadeInThenOut; }

.cinematic--grow {
  transform-origin: center center;
  animation-name: c-grow; }

.cinematic--growAndFadeIn {
  transform-origin: center center;
  animation-name: c-growAndFadeIn; }

.cinematic--growAndFadeInThenOut {
  transform-origin: center center;
  animation-name: c-growAndFadeInThenOut; }

.cinematic--shrink {
  transform-origin: center center;
  animation-name: c-shrink; }

.cinematic--shrinkAndFadeOut {
  transform-origin: center center;
  animation-name: c-shrinkAndFadeOut; }

@keyframes c-extendLinesFromCorner {
  0% {
    width: 0%;
    height: 0%; }
  25% {
    width: 40%;
    height: 40%; }
  70% {
    width: 40%;
    height: 40%; }
  100% {
    width: 0%;
    height: 0%; } }

@keyframes c-scrollTextUp {
  0% {
    top: 2em;
    opacity: 0; }
  25% {
    top: 2em;
    opacity: 0; }
  65% {
    top: 0;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 1; } }

@keyframes c-drawUnderline {
  0% {
    width: 0%; }
  65% {
    width: 100%; }
  100% {
    width: 100%; } }

.cinematic--fadeInWithCorners {
  position: relative;
  padding: 0.25em;
  line-height: 1;
  animation-name: c-fadeInThenOut; }
  .cinematic--fadeInWithCorners::before, .cinematic--fadeInWithCorners::after {
    content: "";
    position: absolute;
    border: 0.0625em solid transparent;
    width: 40%;
    height: 40%;
    animation-name: c-extendLinesFromCorner; }
  .cinematic--fadeInWithCorners::before {
    left: 0;
    bottom: 0;
    border-left-color: #DD2211;
    border-bottom-color: #DD2211; }
  .cinematic--fadeInWithCorners::after {
    top: 0;
    right: 0;
    border-top-color: #DD2211;
    border-right-color: #DD2211; }

.cinematic--scrollUpBehindLine {
  display: inline-block;
  position: relative;
  padding-bottom: 0.25em;
  overflow-y: hidden; }
  .cinematic--scrollUpBehindLine::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    animation-name: c-drawUnderline;
    /* user should be able to change color, maybe even thickness */
    border-bottom: 0.0625em solid #DD2211; }
  .cinematic--scrollUpBehindLine .cinematic__text {
    position: relative;
    margin: 0;
    padding: 0;
    animation-name: c-scrollTextUp; }

.cinematic--shrink-in-focus {
  transform-origin: center center;
  animation: shrink-in-focus 4s cubic-bezier(0.43, 0.54, 0.62, 0.92);
  /* demo styles */
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 15px; }

.cinematic--from-center {
  padding: 0.5em 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  transform-origin: center center;
  animation: from-center 3s linear;
  overflow: hidden;
  /* demo styles */
  background: rgba(255, 255, 255, 0.95);
  font-weight: 600; }

@keyframes shrink-in-focus {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(3); }
  5% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(3); }
  90% {
    opacity: 1;
    filter: none;
    transform: scale(1); } }

@keyframes from-center {
  0% {
    width: 0%; }
  5% {
    width: 0%; }
  90% {
    width: auto; } }

/*# sourceMappingURL=../../dist/cinematic.css.map */