.cinematic--fadeIn {
  animation: cinematic-fade 5s cubic-bezier(0.36, 0.21, 0.69, 0.88); }

.cinematic--fadeOut {
  animation: cinematic-fade 5s cubic-bezier(0.36, 0.21, 0.69, 0.88) reverse; }

.cinematic--fadeInAndOut {
  animation: cinematic-fadeInAndOut 5s cubic-bezier(0.36, 0.21, 0.69, 0.88); }

.cinematic--fadeIn--andGrow {
  transform-origin: center center;
  animation: cinematic-fadeIn-andGrow 5s cubic-bezier(0.36, 0.21, 0.69, 0.88); }

.cinematic--fadeInAndOut--andGrow {
  transform-origin: center center;
  animation: cinematic-fadeInAndOut-andGrow 5s cubic-bezier(0.36, 0.21, 0.69, 0.88); }

@keyframes cinematic-fade {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes cinematic-fadeInAndOut {
  0% {
    opacity: 0; }
  33% {
    opacity: 1; }
  67% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes cinematic-fadeIn-andGrow {
  0% {
    opacity: 0;
    transform: scale(1); }
  75% {
    opacity: 1; }
  80% {
    opacity: 1;
    transform: scale(2); }
  100% {
    opacity: 1;
    transform: scale(2); } }

/* TODO: include some time to post fade out? */
@keyframes cinematic-fadeInAndOut-andGrow {
  0% {
    opacity: 0;
    transform: scale(1); }
  50% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(2); } }

.cinematic--shrink-in-focus {
  transform-origin: center center;
  animation: shrink-in-focus 4s cubic-bezier(0.43, 0.54, 0.62, 0.92);
  /* demo styles */
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 15px; }

.cinematic--from-center {
  padding: 0.5em 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  transform-origin: center center;
  animation: from-center 3s linear;
  overflow: hidden;
  /* demo styles */
  background: rgba(255, 255, 255, 0.95);
  font-weight: 600; }

/* must be a text element, with a span element */
.cinematic.cinematic--credit-slide-01 {
  display: inline-block;
  position: relative;
  padding-bottom: 0.16667em;
  overflow-y: hidden; }
  .cinematic.cinematic--credit-slide-01::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    animation: c--cs01--underline 3s cubic-bezier(0.32, 0.35, 0.45, 0.94) 2 alternate;
    /* user should be able to change color, maybe even thickness */
    border-bottom: 0.0833em solid #cc0000; }
  .cinematic.cinematic--credit-slide-01 .cinematic__text {
    position: relative;
    margin: 0;
    padding: 0;
    animation: c--cs01--text 3s cubic-bezier(0.32, 0.35, 0.45, 0.94) 2 alternate; }

@keyframes c--cs01--text {
  0% {
    top: 2em; }
  20% {
    top: 2em; }
  50% {
    top: 0; } }

@keyframes c--cs01--underline {
  0% {
    width: 0%;
    left: -25%; }
  30% {
    width: 100%;
    left: -25%; }
  50% {
    width: 100%;
    left: 0; } }

@keyframes shrink-in-focus {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(3); }
  5% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(3); }
  90% {
    opacity: 1;
    filter: none;
    transform: scale(1); } }

@keyframes from-center {
  0% {
    width: 0%; }
  5% {
    width: 0%; }
  90% {
    width: auto; } }

/*# sourceMappingURL=../../dist/cinematic.css.map */