* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
#site-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  font-size: 1.6rem;
}
.container {
  padding: 2rem 1rem;
  min-height: 45vh;
  height: 100%;
  text-align: center;
}
.cinematic {
  color: #fafafa;
  font-size: 2.5em;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 1;
}
.button-group {
  padding: 1rem;
}
.btn-cinematic {
  position: relative;
  margin: 0 5px;
  padding: 3px 0;
  border-radius: 0;
  border: 0;
  background-color: transparent;
  color: #313131;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  box-shadow: none;
}
.btn-cinematic::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0%;
  background: rgba(0, 125, 125, 1);
  transition: width 0.3s ease-out;
}
.btn-cinematic:hover {
  cursor: pointer;
}
.btn-cinematic:hover::after {
  width: 100%;
}
.btn-cinematic.active {
  border-bottom: 2px solid rgba(0, 125, 125, 0.7);
}
