$defaultBezier: cubic-bezier(0.36, 0.21, 0.69, 0.88);
$defaultDuration: 5s;
$defaultDelay: $defaultDuration;

// transform positioning
$t-center: unquote('center center');

[class*="cinematic--"] {
  animation-duration: $defaultDuration;
  animation-timing-function: $defaultBezier;
  &::after,
  &::before,
  .cinematic__text {
    animation-duration: inherit;
    animation-timing-function: inherit;
  }
}

@import '_cinematic-simple';
@import '_cinematic-complex';

.cinematic--shrink-in-focus {
  transform-origin: center center;
  animation: shrink-in-focus 4s cubic-bezier(0.43, 0.54, 0.62, 0.92);

  /* demo styles */
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 15px;
}
.cinematic--from-center {
  padding: 0.5em 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  transform-origin: center center;
  animation: from-center 3s linear;
  overflow: hidden;

  /* demo styles */
  background: rgba(255, 255, 255, 0.95);
  font-weight: 600;
}


@keyframes shrink-in-focus {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(3);
  }
  5% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(3);
  }
  90% {
    opacity: 1;
    filter: none;
    transform: scale(1);
  }
}
@keyframes from-center {
  0% {
    width: 0%;
  }
  5% {
    width: 0%;
  }
  90% {
    width: auto;
  }
}